:root {
    --orange-050: #ffe8d9;
    --orange-100: #ffd0b5;
    --orange-200: #ffb088;
    --orange-300: #ff9466;
    --orange-400: #f9703e;
    --orange-500: #f35627;
    --orange-600: #de3a11;
    --orange-700: #c52707;
    --orange-800: #ad1d07;
    --orange-900: #841003;
  
    --grey-050: #f5f7fa;
    --grey-100: #e4e7eb;
    --grey-200: #cbd2d9;
    --grey-300: #9aa5b1;
    --grey-400: #7b8794;
    --grey-500: #616e7c;
    --grey-600: #52606d;
    --grey-700: #3e4c59;
    --grey-800: #323f4b;
    --grey-900: #1f2933;
  }

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #a9e6e6;
}

.formContainer {
    display: block;
    max-width: 320px;
    margin: 30px auto 0 auto;
    background-color: #eee;
}

.formContainer:after,
.formContainer:before {
    content: " ";
    display: table;
}

.formContainer:after {
    clear: both;
}

form {
    width: 100%;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#display {
    width: 100%;
    min-height: 84px;
    display: block;
    padding: 0 15px;
    text-align: right;
    text-overflow: clip;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    background-color:var(--grey-600);
    border: 0;
    border-bottom: 10px solid #999;
    border-top: 10px solid #999;
}

header
{
    text-align: center;
}

input[type="button"],
#equal {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--grey-200);
    border: 0;
    border-bottom: 1px solid #bbb;
}

input[type="button"]:hover,
#equal:hover {
    cursor: pointer;
    background-color: var(--orange-400);
}

input[type="button"]:active,
#equal:active {
    cursor: pointer;
    background-color: var(--orange-500);
}

input:focus {
    box-shadow: 5;
    outline: 5;
    background-color: #eee;
}

.linkReferesh {
    display: block;
    max-width: 320px;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 30px auto;
}

@media screen and (max-width: 400px) {
    .formContainer {
        margin: 0 auto;
    }
}

@media screen and (max-width: 990px) {
    input[type="button"]:hover,
    #equal:hover {
        background-color: #eee;
    }
    input[type="button"]:active,
    #equal:active {
        background-color: #bbb;
    }
}

